* {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: 400;
}
body {
  background: #efefef;
}
h1 {
  font-weight: 600;
  border-bottom: 1px solid #efefef;
}
p {
  font-weight: 200;
}
#container {
  margin: 20px;
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
}
#copyright {
  font-size: 0.8em;
  margin-top: 20px;
}
pre.code {
  border: 1px solid #ccc;
  background: #eee;
  padding: 1em;
  margin: 1em;
  font-family: 'Source Code Pro', 'sans-serif';
  font-weight: 200;
  font-size: 0.9em;
}
pre.code span.prompt {
  color: #999;
}
pre.code span.desc {
  color: #666;
}
#boxes {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-left: 10px;
}
#boxes td, #boxes th {
  border: 1px solid #ccc;
  padding: 10px;
}
#boxes th {
  text-align: left;
  background: #eee;
  color: #666;
}
td.size {
  text-align: right;
}
