* {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: 400;
}
body {
  background: #efefef;
}
h1 {
  font-weight: 600;
  border-bottom: 1px solid #efefef;
}
p {
  font-weight: 200;
}
#container {
  margin: 20px;
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
}
#copyright {
  font-size: 0.8em;
}
pre.code {
  border: 1px solid #ccc;
  background: #eee;
  padding: 1em;
  margin: 1em;
  font-family: 'Source Code Pro', 'sans-serif';
  font-weight: 200;
  font-size: 0.9em;
}
